services:
  - type: web
    name: quoridor-backend
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: REDIS_URL
        fromService:
          type: keyvalue
          name: quoridor-redis
          property: connectionString

  - type: keyvalue
    name: quoridor-redis
    plan: free
    ipAllowList: [] # Only allow internal connections
